.TrustedCard {
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    border-color: #ceccd2;
    cursor: pointer;
}

.TrustedMoreCard {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ceccd2;
    cursor: pointer;
    margin-left: 100px;
}